body {
    color: #777;
    font-size: 18px;
    font-family: arial, "helvetica Neue", sans-serif, helvetica;
    background-color: #777;
    width: 960px;
    text-align: center;
    margin-left: 15%
     }
article {
  color: #ebebeb;
  background-color: #777;
  /*margin-left: 5px;
  margin-right: 5px;*/
  padding: 15px
  }
h3,p {
  color: #777;
  background: #ebebeb;
  padding: 15px;
  margin: 5px;
}
section {
  width: 55%;
  float: left;
  margin-right: 5px;
  padding: 20px;
  margin-bottom: 5px
}
.a {background: #ebebeb}
header, nav, footer {
  padding: 25px;
  margin: 10px
  }
aside {
   padding: 20px;
   width: 35%;
   float: left;
   height: 190px
}
footer {clear: both}
/*div::after {
  content: "";
  display: block;
  clear: both;
}*/